<form action="/upload-avatar" method="POST" enctype='multipart/form-data'>
  <input type="file" id="myFile" name="avatar" accept="image/png">
  <input type="submit">
</form>
<%=message%>
<a href="/createAccount">Create Account</a>
<a href="/seeImages">See Images</a>