<!DOCTYPE html>
<html lang="en">
<title>Ministorage</title>
<meta charset="UTF-8">
<head>
<link rel="icon" href="icon.png">
<meta name="google-site-verification" content="5uQS7qquRB_XsSVlfUliHcbExxJZ2lhnoLaJQ6o6eCk" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
<link rel="stylesheet" href="/html-stuff/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-white">Home/Upload</a>
		<a href="/seeImages" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-white">See Images</a>
    <a href="/rename" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-white">Rename an Image</a>
    <a href="/delete" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-white">Delete an Image</a>
    <a href="/accounts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-text-white">Accounts</a>
  </div>
</div>
<header style="padding:100px 16px">
  <h1 class="w3-margin w3-center w3-jumbo">Ministorage</h1>
  <p class="w3-xlarge w3-center">By Softsquirrel Studios</p>
	<hr>
</header>
<div class="w3-row-padding w3-padding-0 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Your images are not safe. At all.</h1>
      <h5 class="w3-padding-32">With our database admin, we can see all your images! So... yeah, your photos are not safe at all. And with our poorly defended database, hackers can enter anytime. Say hello to the hacker's, guys!</h5>
      <p class="w3-text-grey">We dont care if your life is ruined by uploading photos on to a suspicious website. Thats your problem, not ours!</p>
			 <br>
    </div>
    <div class="w3-third w3-center">
      <img src="https://image.flaticon.com/icons/png/512/61/61355.png" width="200px" height="200px" draggable="false">
    </div>
  </div>
</div>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
			<img src="/images/steal.png" draggable="false" width="300px" height="180px">
    </div>
    <div class="w3-twothird">
      <h1>Do More With Ministorage</h1>
      <h5 class="w3-padding-32">With Ministorage, it is more likely that your photos are going to get stolen! And you cant do that with Google Drive or OneDrive! So thats a +1 for Ministorage!</h5>
      <p class="w3-text-grey">Get your photos stolen today!</p>
    </div>
  </div>
</div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">
		<a href="/createAccount">Get Your Photos Stolen Today!</a>
		<p><a href="/faq">FAQ</a></p>
		</h1>
</div>
</body>
</html>