<form method="POST" action="/image">
  <input name="imageName" type="text" placeholder="Enter the image name with the extension"/>
	<input type="submit" value="Submit">
</form>
<img src=<%=imageLink%>>